
Iris/.ipynb_checkpoints/iris_data_classification-checkpoint.ipynb
Wine_Quality/.ipynb_checkpoints/wine_quality_dataset-checkpoint.ipynb
Wine_Quality/winequality-red.csv
Wine_Quality/winequality-white.csv
