
Iris/.ipynb_checkpoints/iris_data_classification-checkpoint.ipynb
Wine_Quality/.ipynb_checkpoints/wine_quality_dataset-checkpoint.ipynb
Wine_Quality/winequality-red.csv
Wine_Quality/winequality-white.csv
German_Credit_Data/.ipynb_checkpoints/german_credit_data-checkpoint.ipynb
German_Credit_Data/german.data
German_Credit_Data/german.data-numeric
German_Credit_Data/german.doc
Predict_Future_Sales/item_categories.csv
Predict_Future_Sales/items.csv
Predict_Future_Sales/.ipynb_checkpoints/predict_sales-checkpoint.ipynb
Predict_Future_Sales/predict_sales.ipynb
Predict_Future_Sales/sales_train.csv.gz
Predict_Future_Sales/sales_train.csv/sales_train_v2.csv
Predict_Future_Sales/sample_submission.csv/sample_submission.csv
Predict_Future_Sales/shops.csv
Predict_Future_Sales/test.csv.gz
Predict_Future_Sales/test.csv/test.csv
Step_By_Step_Process/.ipynb_checkpoints/Step_By_Step_ML-checkpoint.ipynb
Predict_Future_Sales/sample_submission.csv.gz
